*{
    margin: 0;
    padding: 0;
}
/*Dit is de achtergrond.*/
body{
    background-color: black ;
    background-image: url("../img/dark_background_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

header{
    height: 125px;
}

a:link{
    color: #ffffff ;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nl_en{
    z-index: 9;
    display: flex;
    position: fixed;
    padding: 5px;
}

.nederlands_engels{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    border-style: solid;
    border-radius: 100px;
    border-width: 5px;
    height: 60px;
    width: 60px;
    border-color: #C11E1E;
    background-color: #242222;
}

.invis_box_first{
    width: 1210px;
    height: 10px;
}

.dark_software_developer{
    display: flex;
	justify-content: center;
    align-items: center;
    font-size: x-large;
    border-style: solid;
    border-radius: 100px;
    border-width: 5px;
    height: 45px;
    width: 300px;
    border-color: #C11E1E;
    background-color: #242222;
}

.invis_box_second{
    width: 100px;
    height: 10px;
}

/*Deze sectie staat alle img's en teksten*/

.dark_business_engels_page, .dark_business_nederlands_page, .dark_contact_info_engels_page, .dark_contact_info_nederlands_page, .dark_future_engels_page, .dark_future_nederlands_page, .dark_home_engels_page, .dark_home_engels_page, .dark_home_nederlands_page, .dark_school_project_engels_page, .dark_school_project_nederlands_page, .dark_software_developer_engels_page, .dark_software_developer_nederlands_page{
	display: flex;
	justify-content: space-around;
	align-items: center;
    font-size: x-large;
    color: #ffffff;
}

.dark_business_engels_text, .dark_business_nederlands_text, .dark_contact_info_engels_text, .dark_contact_info_nederlands_text, .dark_future_engels_text, .dark_future_nederlands_text, .dark_home_engels_text, .dark_home_engels_text, .dark_home_nederlands_text, .dark_school_project_engels_text, .dark_school_project_nederlands_text, .dark_software_developer_engels_text, .dark_software_developer_nederlands_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 340px;
}

.dark_typingbox_engels, .dark_typingbox_nederlands{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    color: #ffffff;
}

.dark_subjects_basis_programmeren_1_engels_page, .dark_subjects_basis_programmeren_2_engels_page, .dark_subjects_object_oriented_programming_1_engels_page, .dark_subjects_object_oriented_programming_2_engels_page, .dark_subjects_website_1_engels_page, .dark_subjects_website_2_engels_page, .dark_subjects_web_application_1_engels_page, .dark_subjects_web_application_2_engels_page, .dark_subjects_basis_ict_1_engels_page, .dark_subjects_basis_ict_2_engels_page, .dark_subjects_devops_1_and_2_engels_page , .dark_subjects_project_engels_page, .dark_subjects_it_study_engels_page, .dark_subjects_code_tallen_engels_page, .dark_subjects_subjects_engels_page{
    font-size: x-large;
    color: #ffffff;
    margin: 25px;
    left: 540px;
    top: 70px;
    position: relative;
}

.dark_subjects_basis_programmeren_1_nederlands_page, .dark_subjects_basis_programmeren_2_nederlands_page, .dark_subjects_object_oriented_programming_1_nederlands_page, .dark_subjects_object_oriented_programming_2_nederlands_page, .dark_subjects_website_1_nederlands_page, .dark_subjects_website_2_nederlands_page, .dark_subjects_web_application_1_nederlands_page, .dark_subjects_web_application_2_nederlands_page, .dark_subjects_basis_ict_1_nederlands_page, .dark_subjects_basis_ict_2_nederlands_page, .dark_subjects_devops_1_and_2_nederlands_page, .dark_subjects_project_nederlands_page, .dark_subjects_it_study_nederlands_page, .dark_subjects_code_tallen_nederlands_page, .dark_subjects_subjects_nederlands_page{
    font-size: x-large;
    color: #ffffff;
    margin: 25px;
    left: 540px;
    top: 70px;
    position: relative;
}

.dark_subjects_subjects_engels_page, .dark_subjects_subjects_nederlands_page{
    margin-bottom: 150px;
}

.dark_box_navigation_balk{
    display: flex;
	justify-content: center;
    top: 290px;
    position: relative;
}

.dark_navigation_balk{
    position: relative;
    display: flex;
	justify-content: center;
    align-items: center;
    border-style: solid;
    position: fixed;
    top: 773px;
    padding: 5px;
    margin-top: 70px;
    border-radius: 100px;
    border-width: 5px;
    height: 30px;
    width: 850px;
    border-color: #C11E1E;
    background-color: #242222;
}

.white_line{
    background-color: #ffffff;
    height: 20px;
    width: 1px;
    margin-right: 15px;
    margin-left: 15px;
}

